bank = 2

# Main Menu

func execMenuExt a000
func updateJoypadExt a003
func func_02a006 a006
func func_02a008 a008
func func_02a00a a00a
func func_02a00f a00f
func func_02a012 a012

func execMenu a016

func commonReturn a02d
func func_02a030 a030

func menuCmd_mainMenu a033
func menuCmd_collectItemsAfterBattle a03b
func menuCmd_shop a03f
func menuCmd_initMenuSettings a043
func menuCmd_tutorial a053
func menuCmd_tfrStatsGalufToKrile a062
func menuCmd_nameChange a069

func showMenu a06b
func setDma a0f6
func waitForVblankInMainMenu a106
func initMenu a11b
func resetSpriteData a16e
func initHardwareRegisters a18a
func initHdmaRegisters a1cf
func initConfigSettins a1f0
func func_02a23b a23b
func initRomDataPointers a247
func getNextInput a2e9
func getPressedBtnIndex a33a

func menuState_tutorialPause a358
func menuState_btnAPressed a36a
func menuState_btnBPressed a378
func initTutorialScript a394
func menuState_tutorialExitMenu a441
func menuState_cursorMoveUp a45e
func menuState_cursorMoveDown a466
func menuState_cursorMoveLeft a46e
func menuState_cursorMoveRight a476
func menuState_cursorMove a47c
func menuState_nameChange a4f0

func func_02a4f3 a4f3

func func_02a519 a519
func func_02a54a a54a

func func_02a55f a55f
func jobMenu a5b5
func func_02a5e6 a5e6
func func_02a607 a607
func func_02a618 a618
func func_02a67a a67a

func func_02a693 a693
func func_02a698 a698
func func_02a69d a69d
func func_02a6a0 a6a0

func func_02a6b9 a6b9
func func_02a6de a6de
func func_02a6fc a6fc
func func_02a780 a780
func func_02a79c a79c
func func_02a7fc a7fc

func func_02a81d a81d
func func_02a826 a826
func func_02a848 a848
func func_02a85a a85a
func func_02a878 a878
func func_02a892 a892
func func_02a8cb a8cb
func func_02a8f0 a8f0
func func_02a8fa a8fa
func func_02a91c a91c
func func_02a925 a925
func func_02a935 a935
func func_02a948 a948
func func_02a958 a958
func func_02a965 a965
func func_02a96c a96c
func func_02a96f a96f

func func_02a9d9 a9d9

func func_02a9fd a9fd
func func_02aa12 aa12
func func_02aa35 aa35
func func_02aa4e aa4e
func func_02aa6e aa6e
func func_02aa89 aa89
func func_02aabb aabb
func func_02aad1 aad1
func func_02aae9 aae9
func func_02ab19 ab19
func func_02ab20 ab20
func func_02ab36 ab36
func func_02ab4c ab4c
func func_02ab91 ab91
func func_02aba0 aba0
func func_02abb2 abb2
func func_02abc1 abc1
func func_02abd1 abd1
func func_02abdb abdb
func func_02abdf abdf
func func_02abf2 abf2
func func_02ac01 ac01
func func_02ac0e ac0e
func func_02ac1e ac1e
func func_02ac5e ac5e
func func_02ac90 ac90
func func_02acc3 acc3
func func_02acd6 acd6
func func_02acff acff

func func_02ad3e ad3e
func func_02ad5b ad5b

func func_02adb0 adb0
func func_02adcc adcc
func func_02addf addf
func func_02ae11 ae11
func func_02ae31 ae31
func func_02ae47 ae47
func func_02ae4b ae4b

func func_02ae5c ae5c
func func_02ae6b ae6b
func func_02ae6f ae6f

func func_02af1b af1b
func func_02af87 af87
func func_02af91 af91
func func_02b04f b04f
func func_02b079 b079
func func_02b0d6 b0d6
func func_02b106 b106
func func_02b154 b154
func func_02b16e b16e
func func_02b19a b19a
func func_02b1ca b1ca

func func_02b1ec b1ec
func func_02b257 b257
func func_02b25b b25b
func func_02b25e b25e
func func_02b2bd b2bd
func func_02b2fb b2fb
func orderRowBtnAPressed b302

func func_02b3db b3db
func func_02b3e9 b3e9

func orderRowBtnBPressed b40c
func func_02b40c b40c

func func_02b429 b429
func func_02b480 b480
func func_02b48f b48f
func func_02b4a8 b4a8

func func_02b4d7 b4d7
func func_02b511 b511

func func_02b521 b521
func func_02b5ea b5ea
func func_02b676 b676
func func_02b6b9 b6b9
func func_02b74b b74b
func func_02b752 b752
func func_02b796 b796
func func_02b7a0 b7a0
func func_02b7ad b7ad
func func_02b7fc b7fc
func func_02b811 b811
func func_02b845 b845
func func_02b84d b84d
func func_02b879 b879
func func_02b87c b87c
func func_02b8ae b8ae
func func_02b91d b91d
func func_02b922 b922
func func_02b948 b948
func func_02b955 b955
func func_02b993 b993
func func_02b998 b998
func func_02ba05 ba05
func func_02ba0a ba0a
func func_02ba63 ba63
func func_02ba7d ba7d
func func_02bbfa bbfa
func func_02bc27 bc27
func func_02bc2a bc2a
func func_02bc2d bc2d
func func_02bc48 bc48
func func_02bc5e bc5e
func func_02bcd9 bcd9

func func_02bce0 bce0

func func_02bd3d bd3d
func func_02bd47 bd47
func func_02bda5 bda5
func func_02bdb5 bdb5
func func_02bdc6 bdc6
func func_02bdf3 bdf3
func func_02bdf6 bdf6

func func_02be2e be2e
func func_02be64 be64
func func_02bec8 bec8
func func_02becd becd

func func_02bef4 bef4
func saveToSram bef7
func loadFromSram bf2e
func getPonterToSaveSlot bf7d
func func_02bf89 bf89

func func_02bf9d bf9d
func func_02bfcd bfcd
func func_02bfd4 bfd4
func func_02bff4 bff4
func func_02c003 c003
func func_02c041 c041
func func_02c046 c046
func func_02c05e c05e
func func_02c069 c069
func func_02c06c c06c
func func_02c071 c071
func func_02c0bd c0bd

func func_02c0c0 c0c0
func func_02c0c4 c0c4
func func_02c0c9 c0c9
func func_02c0cc c0cc

func func_02c0e2 c0e2
func func_02c0ed c0ed
func func_02c0f7 c0f7
func func_02c146 c146
func func_02c155 c155

func func_02c162 c162
func func_02c16a c16a
func loadMenuCursor c1a6
func loadMenuTilemap c1b8
func loadVscrollFrom_e6 c1f7
func loadVscroll c1fd

func func_02c242 c242
func menuTilemapCmd_clearTilemapBuffer c25f
func menuTilemapCmd_fillTilemapBuffer c261
func menuTilemapCmd_setTilemapLocation c26d
func func_02c272 c272
func func_02c27b c27b
func func_02c28c c28c
func menuTilemapCmd_fillBg c2a4
func func_02c2cc c2cc
func menuTilemapCmd03 c2e8
func menuTilemapCmd_drawMenuText c32d

func menuState08 c34a
func menuState09 c36f
func func_02c3d2 c3d2
func func_02c3fd c3fd
func func_02c419 c419
func menuState0C c442
func func_02c4da c4da
func func_02c51d c51d
func func_02c544 c544
func func_02c551 c551
func menuState0B c56b
func func_02c59c c59c
func menuState_collectItemsAfterBattle c5b9

func menuState07 c5c8
func func_02c6ba c6ba
func func_02c6e9 c6e9

func menuState_shop c6f7
func func_02c73d c73d
func func_02c780 c780
func func_02c7bd c7bd

func menuState05 c803
func menuState04 c8a0
func func_02c8de c8de
func func_02c941 c941
func func_02c954 c954
func menuState03 ca37
func func_02caa5 caa5
func func_02cac8 cac8

func func_02cb8c cb8c
func func_02cb95 cb95
func func_02cbe1 cbe1
func func_02cbf1 cbf1
func func_02cbf8 cbf8
func func_02cc9e cc9e

func menuState_jobMenu cccb
func func_02cd08 cd08
func updateSelectedJobPalette cd57
func updateCurrentCharData cdc6
func updateJobSprites cde3
func updateCharSprite ce5d
func updateJobStatsAbilities ce9e
func getListOfAvailableJobs cecc
func menuState_abilityMenu ceec
func func_02cfa4 cfa4
func func_02cfbd cfbd
func menuState_mainMenu cfdc
func func_02d04c d04c
func func_02d0b2 d0b2
func initCursor d210
func func_02d230 d230
func func_02d25b d25b
func func_02d298 d298
func func_02d2db d2db
func func_02d304 d304
func func_02d34c d34c
func func_02d37b d37b
func func_02d388 d388
func func_02d3db d3db
func func_02d42e d42e
func updateWindowColor d447
func func_02d45f d45f
func func_02d492 d492
func func_02d4b4 d4b4
func func_02d4c5 d4c5
func func_02d4db d4db
func func_02d503 d503

func func_02d533 d533
func func_02d54a d54a
func func_02d554 d554
func func_02d55c d55c
func func_02d55d d55d
func func_02d571 d571
func func_02d588 d588
func func_02d59d d59d
func func_02d5d3 d5d3
func func_02d5db d5db
func func_02d5ef d5ef
func func_02d60b d60b
func func_02d658 d658
func func_02d662 d662

func func_02d6a4 d6a4
func setFontColor d6dc
func func_02d717 d717
func func_02d760 d760
func func_02d7ca d7ca
func func_02d7d8 d7d8

func func_02d7f6 d7f6
func func_02d802 d802
func func_02d80d d80d
func func_02d837 d837
func getListOfAvailableAbilities d851
func buildListFromRamBits d8b1
func func_02d8e4 d8e4
func func_02d93f d93f
func menuCmd_tfrStatsGalufToKrile2 d958
func func_02d9ab d9ab

func func_02d9fb d9fb
func func_02da16 da16
func func_02da9d da9d
func func_02daa4 daa4
func func_02dada dada
func func_02daef daef
func func_02db66 db66
func func_02db92 db92
func func_02dbbd dbbd
func func_02dbce dbce
func func_02dbe8 dbe8
func func_02dbf9 dbf9
func func_02dc0a dc0a
func func_02dc1b dc1b
func func_02dcd2 dcd2
func func_02dcfe dcfe
func func_02dd0f dd0f
func func_02dd20 dd20
func func_02dd5a dd5a
func func_02dd6b dd6b
func func_02dd8e dd8e
func func_02dda8 dda8
func func_02ddb5 ddb5
func func_02ddc6 ddc6
func func_02ddd7 ddd7

func func_02de3e de3e
func func_02dec7 dec7
func func_02df4d df4d
func func_02df7f df7f