bank = 2

# Main Menu

func execMenuExt a000
func updateJoypadExt a003
func func_02a006 a006
func func_02a008 a008
func func_02a00a a00a
func func_02a00f a00f
func func_02a012 a012

func execMenu a016

func commonReturn a02d
func func_02a030 a030

func menuCmd_mainMenu a033
func menuCmd_collectItemsAfterBattle a03b
func menuCmd_shop a03f
func menuCmd_initMenuSettings a043
func menuCmd_tutorial a053
func menuCmd_tfrStatsGalufToKrile a062
func menuCmd_nameChange a069

func showMenu a06b
func setDma a0f6
func waitForVblankInMainMenu a106
func initMenu a11b
func resetSpriteData a16e
func initHardwareRegisters a18a
func initHdmaRegisters a1cf
func initConfigSettins a1f0
func func_c2a23b a23b
func initRomDataPointers a247
func getNextInput a2e9
func getPressedBtnIndex a33a

func menuState_tutorialPause a358
func menuState_btnAPressed a36a
func menuState_btnBPressed a378
func initTutorialScript a394
func menuState_tutorialExitMenu a441
func menuState_cursorMoveUp a45e
func menuState_cursorMoveDown a466
func menuState_cursorMoveLeft a46e
func menuState_cursorMoveRight a476
func menuState_cursorMove a47c
func menuState_nameChange a4f0

func func_02a4f3 a4f3

func func_02a519 a519
func func_02a54a a54a

func func_02a55f a55f
func jobMenu a5b5
func func_02a5e6 a5e6
func func_02a607 a607
func func_02a618 a618
func func_02a67a a67a

func func_02a693 a693
func func_02a698 a698
func func_02a69d a69d
func func_02a6a0 a6a0

func func_02a6b9 a6b9
func func_02a6de a6de
func func_02a6fc a6fc
func func_02a780 a780
func func_02a79c a79c
func func_02a7fc a7fc

func func_02a81d a81d
func func_02a826 a826
func func_02a848 a848
func func_02a85a a85a
func func_02a878 a878
func func_02a892 a892
func func_02a8cb a8cb
func func_02a8f0 a8f0
func func_02a8fa a8fa
func func_02a91c a91c
func func_02a925 a925
func func_02a935 a935
func func_02a948 a948
func func_02a958 a958
func func_02a965 a965
func func_02a96c a96c
func func_02a96f a96f

func func_02a9d9 a9d9

func func_02a9fd a9fd
func func_02aa12 aa12
func func_02aa35 aa35
func func_02aa4e aa4e
func func_02aa6e aa6e
func func_02aa89 aa89
func func_02aabb aabb
func func_02aad1 aad1
func func_02aae9 aae9
func func_02ab19 ab19
func func_02ab20 ab20
func func_02ab36 ab36
func func_02ab4c ab4c
func func_02ab91 ab91
func func_02aba0 aba0
func func_02abb2 abb2
func func_02abc1 abc1
func func_02abd1 abd1
func func_02abdb abdb
func func_02abdf abdf
func func_02abf2 abf2
func func_02ac01 ac01
func func_02ac0e ac0e
func func_02ac1e ac1e
func func_02ac5e ac5e
func func_02ac90 ac90
func func_02acc3 acc3
func func_02acd6 acd6
func func_02acff acff

func func_02ad3e ad3e
func func_02ad5b ad5b

func func_02adb0 adb0
func func_02adcc adcc
func func_02addf addf
func func_02ae11 ae11
func func_02ae31 ae31
func func_02ae47 ae47
func func_02ae4b ae4b

func func_02ae5c ae5c
func func_02ae6b ae6b
func func_02ae6f ae6f

func func_02af1b af1b
func func_02af87 af87
func func_02af91 af91
func func_02b04f b04f
func func_02b079 b079
func func_02b0d6 b0d6
func func_02b106 b106
func func_02b154 b154
func func_02b16e b16e
func func_02b19a b19a
func func_02b1ca b1ca

func func_02b1ec b1ec
func func_02b257 b257
func func_02b25b b25b
func func_02b25e b25e
func func_02b2bd b2bd
func func_02b2fb b2fb
func orderRowBtnAPressed b302

func func_02b3db b3db
func func_02b3e9 b3e9

func orderRowBtnBPressed b40c
func func_02b40c b40c

func func_02b429 b429
func func_02b480 b480
func func_02b48f b48f
func func_02b4a8 b4a8

func func_02b4d7 b4d7
func func_02b511 b511

func func_02b521 b521
func func_02b5ea b5ea
func func_02b676 b676
func func_02b6b9 b6b9
func func_02b74b b74b
func func_02b752 b752
func func_02b796 b796
func func_02b7a0 b7a0
func func_02b7ad b7ad
func func_02b7fc b7fc
func func_02b811 b811
func func_02b845 b845
func func_02b84d b84d
func func_02b879 b879
func func_02b87c b87c
func func_02b8ae b8ae
func func_02b91d b91d
func func_02b922 b922
func func_02b948 b948
func func_02b955 b955
func func_02b993 b993
func func_02b998 b998
func func_02ba05 ba05
func func_02ba0a ba0a
func func_02ba63 ba63
func func_02ba7d ba7d
func func_02bbfa bbfa
func func_02bc27 bc27
func func_02bc2a bc2a
func func_02bc2d bc2d
func func_02bc48 bc48
func func_02bc5e bc5e
func func_02bcd9 bcd9

func func_02bce0 bce0

func func_02bd3d bd3d
func func_02bd47 bd47
func func_02bda5 bda5
func func_02bdb5 bdb5
func func_02bdc6 bdc6
func func_02bdf3 bdf3
func func_02bdf6 bdf6

func func_02be2e be2e
func func_02be64 be64
func func_02bec8 bec8
func func_02becd becd

func func_02bef4 bef4
func saveToSram bef7
func loadFromSram bf2e
func getPonterToSaveSlot bf7d
func func_02bf89 bf89

func func_02bf9d bf9d
func func_02bfcd bfcd
func func_02bfd4 bfd4
func func_02bff4 bff4
